
.banner-area {
    position: relative;
    width: 100%;
    height: 100vh; /* 기존 fullscreen 유지 */
    overflow: hidden;
}

.banner-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;          /* ⭐ 핵심 */
    transform: translate(-50%, -50%);
    z-index: 0;
}

.banner-content {
    position: relative;
    z-index: 2;
}



.brand_title_wrap {
    text-align: center;
}

.brand_title {
    margin: 60px 0 20px;
    font-size: 18px;
}

.spacing {
    height: 100px;
}

.img_hover img:hover {
    box-shadow: 0.5px 3px 5px #ccc;
}

.img_hover2 img:hover {
    box-shadow: 0.5px 3px 5px #ddd;
}

.box_line img:hover {
    /* opacity: 0.9; */
    box-shadow: 0.5px 3px 7px #bbb;
}



.video-right {
    position: relative;
    overflow: hidden;
    /* 영역 밖 이미지 잘라냄 */
    background-color: #fff;
}

.overlay {
    opacity: 0;
}

.overlay-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
}

.profile_img {
    position: absolute;
    top: 0;
    left: 100px;
    width: 78%;
    height: 100%;
    object-fit: cover;
    /* ⭐ 핵심 */
    z-index: 0;
    object-position: center 50%;
}




.about {
    font-size: 30px;
    line-height: 40px;
}

.bold {
    color: #aaa;
    font-weight: 500;
}